# OPENAI_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=models/gemini-pro-latest
SERPER_API_KEY=
CSV_FILE_PATH=financial_health_advisor/data/customer_transactions.csv
SPENDING_CHART_PATH=financial_health_advisor/data/spending_chart.png
CREWAI_VERBOSE=true
CREWAI_MEMORY=true
CREWAI_PROCESS_MODE=sequential
